body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background: rgb(36, 13, 55);
}

.box{
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    margin: 0;
    padding: 4px;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    column-gap: 15px;
    border-width: 10px;
    border-style: groove;
}



