<div class="information">
  <div class="info-1">
    <div class="divider"></div>
    <h2>Hangman Game</h2>
    <p>Hecho como practica por Juan Barrios Ferraro</p>
  </div>
  <div class="info-2">
    <div class="divider"></div>
    <h2>Contacto</h2>
    <div class="socialsFooter">
      <a href="https://twitter.com/BarriosFerraro" class="fa fa-twitter"></a>
      <a href="https://co.linkedin.com/" class="fa fa-linkedin"></a>
      <a href="https://github.com/JuanFerraro" class="fa fa-github"></a>
    </div>
  </div>
</div>
